* {
  background-color: #f4f4f4;
}

body {
  font-family: Arial, sans-serif;
}

/* styles for line graph */
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
  stroke-width: 2px;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 4px;
}
